<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>



  
<div class="container-fluid row g-0" >
  <div class="col-sm-7">
    <img src="../assets/new-york-statue-of-liberty.jpg" alt="" width="432px" height="400px">
    <img src="../assets/istockphoto-1363444915-612x612.jpg" alt=""  width="432px" height="400px">
    </div>

    <div class="col-sm-5 main bg-success">
      <div class="center">
        <div style="text-align: start;margin: 40px;">
          <h3>MEET THE AUTHOR</h3>
          <h1>FIONA DIAVS</h1>
      <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis earum recusandae obcaecati itaque voluptas officiis vero neque, sed vitae esse, ullam a non nulla repudiandae, molestias dolor accusantium? Perspiciatis, omnis, libero delectus neque eius quo sed placeat doloribus culpa quos amet cum perferendis eos rem expedita, mollitia ducimus? Optio, iusto.</p>

        </div>
      <div class="more-btn">
        <button class="btn btn-success btn-md">Learn more</button>
      </div>
    </div>
  </div>
  </div>
<hr>






<div class="container-fluid">
<div class="row">
  <div class="col-md-3">
   <h2>Level up</h2>
   <p>..with your library card.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veritatis tempora eaque obcaecati illo corrupti inventore praesentium maiores debitis voluptatem.</p>
   <button>LEARN MORE</button>
    </div>
  

  <div class="col-md-3">
    <div class="thumbnail">
     
        <img src="../assets/profilepic.jpg" alt="" width="200px" height="200px">
          <p>Lorem ipsum donec id elit non mi porta gravida at</p>
      
    </div>
  </div>

  <div class="col-md-3">
    <div class="thumbnail">
    
        <img src="../assets/220px-Library_Construction,_Architecture,_Fittings,_and_Furniture.djvu-181.png" alt="" width="200px" height="200px">

        <div class="caption">
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
      
    </div>
  </div>

     
  
     <div class="col-md-3">
     <div class="thumbnail">
   
      <img src="../assets/f03a19eb364d59edc9ed3f1ef6ef960d.jpg" alt="" width="200px" height="200px">
      <div class="caption">
        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
      </div>
    
  </div>
</div>
</div>
</div>





</body>
</html>
